<h3>Register</h3>

<form action="/admin/register" method="post">

    <label for="email"><b>Email</b></label>
    <input type="email" placeholder="Enter Email" name="email">

    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username">

    <label for="password"><b>Password</b></label>
    <input type="text" placeholder="Enter Password" name="password">

    <div style="display: flex;  justify-content: space-between;">
        <input type="submit" value="Sign Up" class="btn" style="font-size: var(--font-size);">
        <a href="/admin/login"  class="btn">Sign In</a>
    </div>

    
</form>

<% if (local.message) { %>
    <script>
        const message = '<%- local.message.replace(/'/g, "\\'"); %>';
        document.addEventListener('DOMContentLoaded', function() {
          window.alert( message );
        });
      </script>
  <% } %>