<header class="header">
    <a href="/" class="header_logo">Admin Panel</a>

    <nav class="header_nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/">Explore</a></li>
        </ul>

        <!-- <div class="theme_toggler">
            <div></div>
            <div></div>
        </div> -->
    </nav>

    <div class="header_button">
        <a href="/logout">
            Logout
        </a>
    </div>


</header>