<div class="searchBar">
    <div class="container">
        <form action="/search" method="post" role="search" class="search_form">
            <input type="search" name="searchName" id="searchInput" aria-label="search"
            placeholder="Search the site...">
        </form>
        <div id="searchClose">Close</div>
    </div>
</div>