<div class="author">
    <h1 class="author_heading">Hi, I am Maul</h1>
    <p>Web developer and content creator</p>
</div>

<img src="/img/a.jpg" alt="Nietzsche in old age" class="hero-image" width="981" height="528">

<section class="articles">
    <h2 class="article_heading">Latest Post</h2>
    <ul class="article_ul">
        
        <% data.forEach( post => { %>
            <li><a href="/post/<%= post._id  %>"><span><%= post.title %></span><span class="article-list_date"><%= post.createdAt.toDateString() %></span></a></li>
        <% }) %>
        
    
    </ul>

    <% if (nextPage) { %>
        <a href="/?page=<%= nextPage %>" class="pagination">&lt; View Older</a>
    <% } %>
    
</section>